@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora&family=Pacifico&display=swap');

.App {
  background: rgb(35, 26, 207);
  background: linear-gradient(90deg, rgba(9, 8, 32, 1) 0%, rgba(53, 51, 205, 1) 35%, rgba(71, 70, 92, 1) 100%);
}

.Navigation {
  height: 10%;
  background: rgb(35, 27, 184);
  background: linear-gradient(90deg, rgba(9, 8, 32, 1) 0%, rgba(53, 51, 205, 1) 35%, rgba(71, 70, 92, 1) 100%);
  padding: 2% 0 0 5%;
  color: wheat;
}

.header {
  text-align: center;
  margin-top: 5px;
  font-family: 'Lora', serif;
  /* Use Lora for default text */
  color: white;
}

.highlight {
  color: #ff69b4;
  /* Pink color */
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  /* Use Anton for "SuuSri" */

}

.suuSriText {
  font-family: 'Pacifico', cursive;
  /* Use Pacifico for "Meet" */
  color: #FFA500;
  /* Orange color for SuuSri text */
}

.suuSriContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.suuSri {
  width: 300px;
  /* Adjust size as needed */
  height: auto;
}

@media (max-width: 768px) {
  .suuSri {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .suuSri {
    width: 150px;
  }
}